.one_piece{
    background-color: aqua;
    height: 50px;
}
.dragon_ball{
    background-color: brown;
    height: 400px;
}
.nanatsu_taizai{
    height: 50px;
    background-color: cyan;
}
.inu_yasha{
    height: 50px;
    background-color: rgb(255, 0, 140);}
